:root {
    --backdrop: #3f352d;
    --bg-main: #DCD4CA;
    --bg-keypad: #D0C7B8;
    --bg-display: #1B3C34;
    --bg-display-banner: #202C29;
    --text-main: #E9E7E4;
    --text-secondary: #FFD337;
    --text-display: #5DD6A3;
    --btn: #60534C;
    --btn-special: #CF532B;
    --btn-operator: #413B37;
}

* {
    margin: 0;
    padding: 0;
}

.flex,
body {
    display: flex;
    flex-wrap: wrap;
}

body {
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
    background-color: var(--backdrop);
    color: var(--text-main);
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 400;
    font-size: 36px;
}

h2 {
    font-size: 12px;
}

a {
    color: var(--text-secondary);
    text-decoration: none;
}
.calculator {
    flex-direction: column;
    gap: 10px;

    width: 300px;
    height: 500px;

    padding: 10px;
    background-color: var(--bg-main);
    border-radius: 15px;
    justify-content: center;
}

.display {
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    background-color: var(--bg-display);
    border-radius: 7.5px;
    height: 150px;
}

.banner {
    padding: 10px;
    border-radius: 15px 15px 0 0;
    flex: 1;
    width: inherit;
    height: 72px;
    background-color: var(--bg-display-banner);
}

.output {
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    color: var(--text-display);
    font-size: 20px;
}

.result {
    font-size: 36px;
    align-self: flex-end;
}

.keypad {
    flex: 2;
    flex-direction: column;
    border-radius: 7.5px;
    padding: 10px;
    background-color: var(--bg-keypad);
    gap: 10px;
}

.main {
    justify-content: center;
    gap: 10px;
}

.btn {
    font-family: 'Share Tech Mono', monospace;
    color: var(--text-main);
    background-color: var(--btn);
    font-size: 36px;
    width: 62px;
    height: 58px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 6px 0 0 #4b403a;
}

.btn:active {
    box-shadow: none;
    translate: 0 6px ;
}

.operator {
    color: var(--text-secondary);
    background-color: var(--btn-operator);
    box-shadow: 0 6px 0 0 #27211c;
}

.special{
    background-color: var(--btn-special);
    box-shadow: 0 6px 0 0 #ad3a13;
}

.top-row {
    gap: 10px;
    justify-content: flex-end;
}

.slim {
    font-size: 16px;
    font-weight: bold;
    height: 30px;;
}